---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

* Host-microbiome interactions in gut regions after nutritional programming in Atlantic salmon (_Salmo salar_) with a plant-rich diet. Project code available at <a href="{{https://github.com/marwa38/NP_intesParts_integrative}}">NP_intesParts_integrative</a>.
* Microbiome-transcriptome gut interactions after nutritional programming in Atlantic salmon (Salmo salar) with plant-rich diet. Project code available at <a href="{{https://github.com/marwa38/NP_devStages_integrative}}">NP_devStages_integrative</a>.
* Gut regions transcriptome after nutritional programming in Atlantic salmon (Salmo salar) with plant- rich diet. Project code available at <a href="{{https://github.com/marwa38/NP_intesParts_RNAseq}}">NP_intesParts_RNAseq</a>.
* Gut transcriptome in Atlantic salmon (Salmo salar) after nutritional programming with a plant-rich diet. Project code available at <a href="{{https://github.com/marwa38/NP_devStages_RNAseq}}">NP_devStages_RNAseq</a>.
* The impact of nutritional programming on the gut microbiota of Atlantic salmon (Salmo salar) parr. Project code available at <a href="{{https://github.com/marwa38/NP_intesParts_ampliseq}}">NP_intesParts_ampliseq</a>.
* Modulation of Atlantic salmon (Salmo salar) gut microbiota composition and predicted metabolic capacity after nutritional programming with a plant-rich diet: insights across developmental stages. Project code available at <a href="{{https://github.com/marwa38/NP_devStages_ampliseq}}">NP_devStages_ampliseq</a>.

